.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

button1 {
  position: absolute;
  bottom: 15px;
  right: 10px;
}

#textbox {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111111;
  --main-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 10px;
  height: 30px; 
  width: 600px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  outline: none;
}

#textbox:focus {
  box-shadow: none;
  transition: all 0.5s;
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
  transition: all 0.5s;
  transform: scale(0);
  z-index: -1;
  
}

#textbox:focus ~ .label {
  top: -10px;
  transform: scale(1);
  transition: all 0.5s;
}

.text-lg {
  font-family: monospace;
  font-size: 24px;
}

body {
  justify-content: center;
  height: 100vh;
  background-color: #d83a3a;
}

#additional-textbox {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111111;
  --main-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 10px;
  height: 120px; 
  width: 600px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  outline: none;
}

#additional-textbox:focus {
  box-shadow: none;
  transition: all 0.5s;
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
  transition: all 0.5s;
  transform: scale(0);
  z-index: -1;
  
}

#additional-textbox:focus ~ .label {
  top: -10px;
  transform: scale(1);
  transition: all 0.5s;
}

.text-lg {
  font-family: monospace;
  font-size: 24px;
}

.button {
  flex: 1;
  margin-right: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button-container p {
  margin-right: 10px; /* Adjust the margin as needed */
  font-weight: bold;
  font-size: 20px; /* Adjust the font size as needed */
  color: white;
}

.button-beginner {
  background-color: #3498db; /* Blue color */
  color: white;
  font-weight: bold;
}

.button-programmer {
  background-color: #2ecc71; /* Green color */
  color: white;
  font-weight: bold;
}

.button-academic {
  background-color: #f5190a; /* red color */
  color: white;
  font-weight: bold;
}

.button-funny {
  background-color: #f3cb06; /* yellow color */
  color: white;
  font-weight: bold;
}

.button:hover {
  transform: scale(1.05); /* Increase the size on hover */
  transition: transform 0.2s ease-in-out; /* Add a smooth transition effect */
}