.input-container {
  position: relative;
  display: flex; /* property to center content */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

#textbox {
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111111;
  --main-color: #fefefe;
  padding: 10px;
  height: 200px; 
  width: 380px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  outline: none;
}

#textbox:focus {
  box-shadow: none;
  transition: all 0.5s;
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #000000;
  transition: all 0.5s;
  transform: scale(0);
  z-index: -1;
}

#textbox:focus ~ .label {
  top: -10px;
  transform: scale(1);
  transition: all 0.5s;
}

.text-lg {
  font-family: monospace;
  font-size: 24px;
}

body {
  background-color: #d83a3a;
}

