.create_project_btn{
    font-size: 14px;
    width: 180px;
}

.project_card{
    width: 45vh;
    margin-top:100px;
}

.logout_btn{
    text-align: center;
    margin-bottom: 150px;
    font-size: 14px;
    padding: 10px
}

ul.projects-list{
    list-style-type: none;
    padding: 0;
}

.left-align-text{
    text-align: left;
}

.project_card{
    max-height: 1000px;
    overflow-y: auto;
}